{
  "common": {
    "zk": "zookeeper:2181",
    "host": "druid-router",
    "plaintextPort": 8888
  },
  "coordinator": {
    "period": "PT30S",
    "startDelay": "PT30S",
    "merge.period": "PT10M"
  },
  "overlord": {
    "type": "local"
  },
  "storage": {
    "type": "local",
    "storageDirectory": "/opt/druid/var/druid/segments"
  },
  "cache": {
    "type": "local",
    "sizeInBytes": 134217728
  },
  "metadata.storage": {
    "type": "postgresql",
    "connector": {
      "connectURI": "jdbc:postgresql://postgres:5432/finflow_app",
      "user": "finflow",
      "password": "FinFlow_PG_2024!"
    }
  },
  "extensions": {
    "loadList": [
      "druid-kafka-indexing-service",
      "druid-datasketches",
      "postgresql-metadata-storage",
      "druid-parquet-extensions"
    ]
  }
}
